.records-table-container {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.records-table {
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #1f2937;
  margin-bottom: 32px;
  text-align: center;
}

.loading-screen,
.error-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.5rem;
}
