@import "primereact/resources/themes/saga-blue/theme.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

/* Global Menubar styles */
.p-menubar {
  height: 50px; /* Adjust Menubar height */
  padding: 0 15px; /* Compact horizontal padding */
  align-items: center; /* Center items vertically */
}

.p-menubar .p-menuitem-link {
  font-size: 0.9rem; /* Slightly smaller font for compact look */
  padding: 8px 12px; /* Reduce padding */
}

.p-menubar-start,
.p-menubar-end {
  height: 100%; /* Ensure alignment with Menubar height */
  display: flex;
  align-items: center;
}

/* DESKTOP MODE */
@media (min-width: 768px) {
  .p-menubar-root-list > .p-menuitem {
    margin: 0 8px; /* Compact spacing between items (desktop only) */
  }

  .p-menubar .p-submenu-list .p-menuitem {
    padding-left: 0; /* Remove indentation for desktop submenu */
    border-radius: 0 !important; /* Remove border radius */
  }
}

/* MOBILE MODE */
@media (max-width: 767px) {
  .p-menubar-root-list > .p-menuitem {
    border-radius: 0px;
  }

  .p-menubar .p-submenu-list .p-menuitem {
    border-radius: 0 !important; /* Remove border radius */
  }

  .p-menubar-root-list .p-menuitem-link {
    padding-left: 16px; /* Indent the text inside submenu items */
    border-radius: 0 !important; /* Remove border radius */
  }
}


