@import "primereact/resources/themes/saga-blue/theme.css";
@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

html, body, .page {
  margin: 0 !important;
  padding: 0 !important;
  height: 100% !important;
  /* overflow: hidden !important; */
  background-color: #f0f0f0 !important;
}