.teams-field {
    margin: 1vw;
    padding: 10px;
}

.teams-create {
    font-size: xx-large;
    font-weight: bold;
    color: #aaa;
    background-color: white;
    border: #aaa 1px solid;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
}

.teams-create:hover {
    border: #0033a0 1px solid;
    color: #0033a0;
    transition: all 0.1s ease;
}

.teams-container {
    margin-bottom: 2vh;
    padding: 10px;
    border: #aaa 1px solid;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.teams-container:hover {
    border: #0033a0 1px solid;
    transition: all 0.1s ease;
}
